#intro {
  width: 100vw;
  width: 90%;
  height: calc(100vh - 4rem);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.introimg {
  z-index: -1;
  top: 2rem;
  right: 0rem;
  object-fit: cover;
  position: absolute;
  height: 100vh;
}

.introcontent {
  height: 100vh;
  width: 100vw;
  margin-left: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.5rem;
  font-weight: 100;
}

.intoname {
  margin-left: 10px;
  color: green;
}

.intropara {
  font-size: 1rem;
  font-weight: 100;
}

.introbtn {
  width: fit-content;
  padding: 10px;
  color: black;
  background: green;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
}

.introbtn2 {
  width: fit-content;
  padding: 10px;
  color: green;
  background: transparent;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid green;
}
.introbtnimg {
  height: 1rem;
  width: 1rem;
  background: transparent;
}

.introbtn2:hover {
  color: black;
  background: white;
}

.introbtn:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 840px) {
  .introimg {
    display: none;
    /* right: 4vw; */
  }
  .hello {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 480px) {
  .introimg {
    right: -5vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}
